/*
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
*/
@import url(https://fonts.googleapis.com/css?family=Caveat);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*
  font-family: 'Roboto', sans-serif;
  font-family: 'Nothing You Could Do', sans-serif;
  font-family: 'Quicksand', sans-serif;
  */
  font-family: 'Caveat', sans-serif;
}

#enable-midi-button {
  width: 162px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  background: white;
  outline: none;
  transition: 0.15s;
}

#enable-midi-button:hover {
  background: cornflowerblue;
}

#chord {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 180px;
}

#keyboard {
  position: relative;
  margin: 0 auto;
  width: calc(21*40px); /* 21 white keys */
}

.white-key {
  position: absolute;
  top: 0;
  width: 40px;
  height: 200px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
}

.white-key:hover {
  background: cornflowerblue;
}

.black-key {
  position: absolute;
  top: 0;
  width: 30px;
  height: 120px;
  background: black;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
}

.black-key:hover {
  background: cornflowerblue;
}

.key-selected {
  background: greenyellow;
}

.key-selected:hover {
  background: yellow;
}